html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-size: 16px;
  line-height: 1.5;
}

.content {
  flex: 1 0 auto;
}


a:not([class]),
a[class=''] {
  @extend %transition;
  text-decoration: none;
  color: $color-primary;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $color-primary-hover;
  }

  &:active {
    color: $color-primary-active;
  }
}

