.nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 60px;

  &__link {
    padding:20px 10px;
    text-decoration: none;
    color: $color-primary;
    cursor: pointer;

    &:hover {
      color: $color-primary-active;
    }
  }

  &__logo {
    display: block;
    height: 60px;
    width: 100px;
    cursor: pointer;
  }

  &_alternative {
    .nav__link {
      color: $color-white;
      height: 100%;
    }
    .nav__link:hover {
      color: $color-white-active;
    }
  }
}
