.title {
  margin: 0;
  font-family: $font-secondary;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;

  &_uppercase {
    text-transform: uppercase;
  }

  &_bold {
    font-weight: bold;
  }

  &_size_lg {
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  &_size_sm {
    font-size: 16px;
    font-weight: 600;
  }
}
