.footer {
  flex: 0 0 auto;
  color: $color-white;

  &_bg {
    background-color: $color-primary;
  }

  &__icon {
    .icon__img {
      fill: $color-white;
      width: 20px;
      height: 20px;
    }
  }
}
