.text_top {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: normal;
  font-style: normal;
  color: var(--color-primary);
  font-size: 44px;
}

.text_top span {
  font-weight: normal;
  font-style: italic;
}