.discount {
  width: 100%;
  display: grid;
  grid-template-columns:  1fr 1fr;
  background-color: $color-primary;

  &__info {
    padding: 40px 102px;
    color: $color-white;
  }

  &__title {
    padding-bottom: 24px;
  }

  &__img {
    background-clip: border-box;
    background: no-repeat center / cover;
  }
}
