.button {
  display: block;
  @extend %transition;
  font-family: $font-primary;
  color: $color-white;
  background: $color-second;
  border-radius: 40px;
  border: none;
  line-height: 80px;
  text-align: center;
  width: 285px;
  height: 80px;
  cursor: pointer;

  &:hover {
    background-color: $color-second-hover;
  }

  &:active {
    background-color: $color-second-active;
  }
}