.logo {
    @extend %transition;
    display: inline-block;
    fill:$color-primary;
    text-decoration: none;
    user-select: none;

    .icon__wrap {
        padding-bottom: 60%;
    }

    &:hover,
    &:focus {
        fill: $color-primary-hover;
    }

    &:active {
        fill: $color-primary-active;
    }

    &_white {
        fill:$color-white;

        &:hover,
        &:focus {
            fill: $color-white-active;
        }
    }
}
