.root {
  &__title-section-align {
    text-align: center;
  }

  &__row-no-wrap {
    flex-wrap: nowrap;
  }

  &__block {
    margin: 32px 0;
  }

  &__promo-icon {
    height: 52px;
    fill: $color-primary;
  }
}
