$gap: 10px;
$columns: 12;

.row {
  margin: (-$gap * 2) (-$gap) 0;
  display: flex;
  flex-wrap: wrap;

  & + & {
    margin-top: 0;
  }
}

[class|='col'] {
  margin-top: $gap * 2;
  padding: 0 $gap;
}

.col {
  flex: 1 0;
}

.col-auto {
  width: auto;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: 100% / $columns * $i;
  }
}