:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --color-white: #fff;
  --color-white-active: #cccccc;
  --color-primary: #ae7c78;
  --color-primary-active: #7a5754;
}
